@model TableConfiguring.Models.Customers
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4>Customer details</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Customer name:</dt>
            <dd>@Html.DisplayFor(m => m.Name)</dd>

            <dt>Contact name:</dt>
            <dd>@Html.DisplayFor(m  => m.ContactName)</dd>

            <dt>Address:</dt>
            <dd>@Html.DisplayFor(m => m.Address)</dd>
        </dl>
    </div>
</div>
